#sudoku{
    display:flex;
    justify-content: space-around;
}
#check{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:25px;
}
#check > *{
    border : 1px solid black;
    border-radius: 30px;
    padding: 10px;
    font-size: 200%;
    background-color: transparent;
}
#board{
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    width:900px;
}
#board .cell:nth-child(odd) > *{
    background-color: gray;
}
#board .cell:nth-child(even) > *{
    background-color: #c5c56b;
}