#sudoku{
    display:flex;
    justify-content: space-around;
}
#check{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:25px;
    & > *{
	    border : 1px solid black;
	    border-radius: 30px;
	    padding: 10px;
	    font-size: 200%;
	    background-color: transparent;
    }
}
#board{
    display: grid;
    .row{
	input{
		&:enabled{
			background-color: gray;
		}
		&:disabled{
		  	background-color: #737373;
		}
	}
	input:nth-child(-n + 3), input:nth-child(n + 7){
		&:enabled{
			background-color: #c5c56b;
		}
		&:disabled{
			 background-color: #bcbc55;
		}
	}
    }
    .row:nth-child(-n + 3), .row:nth-child(n + 7){
	input{
		&:enabled{
			background-color: gray;
		}
		&:disabled{
		  	background-color: #737373;
		}
	}
	input:nth-child(n + 4):nth-child(-n + 6){
		&:enabled{
			background-color: #c5c56b;
		}
		&:disabled{
			 background-color: #bcbc55;
		}
	}
    }
}
#result{
	width:10%;
	text-align: center;
	align-items: center;
	display:flex;
	font-size: 125%;
	a{
		text-decoration: none;
		color: cornflowerblue;
	}
}
