#board{
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    width:900px;
}
#board .cell:nth-child(odd){
    background-color: gray;
}
#board .cell:nth-child(even){
    background-color: black;
}