#sudoku{
    display:flex;
    justify-content: space-around;
}
#check{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:25px;
}
#check > *{
    border : 1px solid black;
    border-radius: 30px;
    padding: 10px;
    font-size: 200%;
    background-color: transparent;
}
#board{
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    width:900px;
}
#board .cell:nth-child(odd) > input:enabled{
    background-color: gray;
}
#board .cell:nth-child(even) > input:enabled{
    background-color: #c5c56b;
}
#board .cell:nth-child(odd) > input:disabled{
    background-color: #737373;
}
#board .cell:nth-child(even) > input:disabled{
    background-color: #bcbc55;
}
#result{
	width:10%;
	text-align: center;
	align-items: center;
	display:flex;
	font-size: 125%;
}
#result a{
	text-decoration: none;
	color: cornflowerblue;
}
