.row{
    border: 2px 2px 0px 2px solid black;
    border-collapse: collapse;
    & > *{
	    border: 1px solid black;
	    aspect-ratio: 1/1;
	    width:4vw;
	    height:5%;
	    text-align: center;
	    font-size: 200%;
	    @media (max-width: 800px){
		    width:9vw;
	    }
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
input{
    color:#FFFF00;
}
input[disabled]:not(.wrong):not(.right){
    color:white;
}
.wrong{
    color:red;
}
.right{
    color:greenyellow;
}
.row{
	input{
		background-color: #737373;
	}
	input:nth-child(-n + 3), input:nth-child(n + 7){
		 background-color: #bcbc66;
	}
    }
    //imagine if css allowed :nth-child(4..=6)
    .row:nth-child(-n + 3), .row:nth-child(n + 7){
	input{
		background-color: #737373;
	}
	input:nth-child(n + 4):nth-child(-n + 6){
		background-color: #bcbc66;
	}
    }

